@import 'tailwindcss';

.custom-scrollbar::-webkit-scrollbar {
  width: 0%;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.cards {
    transition: all ease-in-out 0.2s;
}

.cards:hover {
    transform: translateY(8%);
    box-shadow: none;
}

.list-input {
    transition: all ease-in-out 0.1s;
}

.list-input:focus {
    transform: translateY(8%);
    box-shadow: none;
    outline: none;
}

.save-button {
    transition: all ease-in-out 0.1s;
}

.save-button:hover {
    transform: translateY(8%);
    box-shadow: none;
}